body {
    background-color: rgba(190, 195, 202, 0.3);;
}
/* Delete up here */
@font-face {
    font-family: 'AirbnbMedium';
    src: url('../font/AirbnbCerealMedium.ttf');
}
@font-face {
    font-family: 'AirbnbBook';
    src: url('../font/AirbnbCerealBook.ttf');
}
/* Public Class */
.font-medium {
    font-family: AirbnbMedium;
}
.font-book {
    font-family: AirbnbBook;
}
.font-bold {
    font-weight: bold;
}
.font-normal {
    font-weight: none;
}
.btn-checkout {
    border-radius: 0;
    background-color: #57CAD5;
    width: 350px;
    color: #FFFFFF;
    font-weight: bold;
}
.btn-cancel {
    border-radius: 0;
    background-color: #F24F8A;
    width: 350px;
    color: #FFFFFF;
    font-weight: bold;
}
.btnOne {
    background-color: #57CAD5;
    color: #FFFFFF;
}
.btnTwo {
    background-color: #F24F8A;
    color: #FFFFFF;
}
.normalLink {
    color: black;
    text-decoration: none;
}
.normalLink:hover {
    color: black;
    text-decoration: none;
}
/* End Public Class */
/* Header */
.headerOne {
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 10px 1px 10px grey;
    z-index: 1;
    border-left: #CECECE 1px solid;
    border-right: #CECECE 1px solid;
}
.headerTwo {
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 3px 1px 10px grey;
    z-index: 1;
    border-left: #CECECE 1px solid;
}
.cartSpan {
    height: 30px;
    width: 30px;
    background-color: #57CAD5;
    border-radius: 50%;
    display: inline-block;
    font-size: 0.8em;
    color: white;
  }
.headerBox {
    height: 70px;
}
.headerBoxBrandPosition {
    height: 30px;
}
.headerIcon {
    width: 30px;
    height: 30px;
}
.headerBrand {
    font-family: AirbnbMedium;
    font-size: 25px;
}
.btn-custom {
    background-color: transparent;
    border: none;
}
/* End Header */
/* Sidemenu */
.sideMenu {
    width: 90px;
    height: 1000px;
    background-color: #FFFFFF;
}
.menuIconBox {
    height: 70px;
}
.menuIcon {
    width: 40px;
    height: 40px;
}
/* End Sidemenu */
/* Product */
.productBox {
    height: 100px;
    background-color: blue;
}
.productCard {
    font-family: AirbnbMedium;
}
.productImage {
    width: 240px; /* width of container */
    height: 180px; /* height of container */
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.productImageSelected {
    width: 240px; /* width of container */
    height: 180px; /* height of container */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    opacity: 0.8;
}
.productImageSelectedCeklis {
    background-image: url("../images/icons/ceklis.png");
    background-repeat: no-repeat;
    background-position: 80px;
}
.productDescription {
    height: 50px;
    width: 240px;
    padding-top: 10px;
    padding-left: 5px;
}
/* End Product */
/* Cart */
.cart-icon {
    height: 200px;
    width: 200px;
}
.cartBox {
    width: 380px;
    height: 150px;
    background-color: blue;
    padding-bottom: 10px;
}
.cartSpace {
    height: 20px;
    background-color: cadetblue;
}
.cartImage {
    width: 100px;
    height: 100px;
}
.cartQtyNav {
    width: 35px;
    height: 35px;
    border: 1px solid #82DE3A;
    background-color: rgba(130, 222, 58, 0.2);
    margin: auto;
    border-radius: 0px;
}
.cartText {
    font-size: 14pt;
}
.boxRecentOrder {
    background-color: #FFFFFF;
}
@media (max-width: 636px) {
    .headerBrand {
        font-size: 18pt;
    }
}
@media (max-width: 616px){
    .headerBrand {
        font-size: 17pt;
    }
}
@media (max-width: 576px) {
    .headerBrand {
        font-size: 16.2pt;
    }
}
@media (max-width: 576px) {
    .headerOne {
        height: 70px;
        background-color: #FFFFFF;
        z-index: 2;
        box-shadow: none;
    }
    .headerTwo {
        height: 70px;
        background-color: #FFFFFF;
        z-index: 1;
        box-shadow: none;
    }
}
/* End Cart */
/* Side Content !Important */

/* End Side Content */

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/templates/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
*/
#wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#sidebar-wrapper {
  min-height: 100vh;
  /* margin-left: -6rem; */
  margin-left: 0;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  height: 70px;
  border-bottom: #CECECE 1px solid;
}
#page-content-wrapper {
  /* min-width: 100vw; */
  min-width: 0;
    width: 100%;
}
#wrapper.toggled #sidebar-wrapper {
  /* margin-left: 0; */
  margin-left: -6rem;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -6rem;
  }
}